Works filter=lfs diff=lfs merge=lfs -text
Works/ProjectBS/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
Works/ProjectBS/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Works/ProjectBS/Library/PlayerDataCache/Win64/Data/level0 filter=lfs diff=lfs merge=lfs -text
